body {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.header {
    background: whitesmoke;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
}

.grade-form-container {
    width: 80%;
    max-width: 500px; /* Adjust width as needed */
    margin: 30px auto;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.grade-form-container h1 {
    color: gray;
    font-size: 24px;
    margin-bottom: 15px;
}

#gradeForm input,
#gradeForm button,
#gradesTable input,
#gradesTable button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in the width */
}

#gradeForm button,
#gradesTable button {
    background-color: darkseagreen; /* Bootstrap 'success' green */
    color: white;
    border-color: green;
}

#gradeForm button:hover,
#gradesTable button:hover {
    background-color: darkseagreen;
    border-color: green;
}

#gradesTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#gradesTable th,
#gradesTable td {
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: left;
}

#gradesTable th {
    background-color: whitesmoke;
}

#zoneGradePage {
    width: auto;
    padding: 10px 20px;
    background-color: blue; /* Bootstrap 'primary' blue */
    color: white;
    border: 1px solid skyblue;
    margin-top: 20px;
    border-radius: 4px;
}

#zoneGradePage:hover {
    background-color: blue;
    border-color: skyblue;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .grade-form-container {
        width: 95%;
        margin-top: 15px;
    }

    #gradeForm input,
    #gradeForm button,
    #gradesTable input,
    #gradesTable button {
        width: 100%;
    }
}

#gradesTable .deleteRowBtn {
    background-color: red; /* Bootstrap 'danger' red */
    color: white;
    border-color: rosybrown;
}

#gradesTable .deleteRowBtn:hover {
    background-color: red;
    border-color: rosybrown;
}

#gradesTable .deleteRowBtn:disabled {
    background-color: whitesmoke;
    border-color: whitesmoke;
    cursor: not-allowed;
}

#gradesTable .saveRowBtn.saved {
    background-color: gray; /* 부트스트랩의 회색 */
    border-color: gray;
}